body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    font-size: 16px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    margin: 20px 30px;
    border-radius: 10px;
}

.register {
    display: flex;
    gap: 20px;
}

.signup {
    color: gray;
}

.logo {
    font-size: 2rem;
}

.card {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgb(100, 100, 247);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

.card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

